<%= render 'list', book: @book %>

<h1>Book detail</h1>
  <%= form_with model: @book do |f| %>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
   <h4>Title</h4>
<h4>Opinion</h4>

<% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
